
body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
}

* {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: row ;

    /*
    -ms-flex-wrap: wrap; !* IE10 *!
    flex-wrap: wrap;
    */
    margin: 0 -16px;
}
.row-column, .row_column{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column ;
}
.row-column label.row, .row_column label.row{
    justify-content: flex-start;
}

.big {
    margin-top: 3px;
}
.col-25, .col_25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50, .col_50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    flex-grow: 1;
}

.col-75, .col_75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75,
.col_25,
.col_50,
.col_75{
    padding: 0 16px;
}
.col-sized, .col_sized{
    flex-basis: 600px;
}
.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    height: 100%;
}
.central{
    text-align: center;
}
.central ul li{
    text-align: left;
    list-style: none;
}
.notes {
    font-size: .8em;
    font-style: oblique;
}
.container ol li{
    margin:2px;

}
h4{
    margin: 2px;
}
